<div class="container container_bg" >
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-6 col-xs-12 my_edit" >
			<div class="row" id="edit_form" >
				<span class="pull-left" style="margin:15px;">编写新鲜事</span>
				<span class="tips pull-right" style="margin:15px;"></span>
				<form action="/posts/post" method="POST" style="margin-top: 50px;">
					  <div class="form-group">
						   <div class="col-sm-12">
								<textarea type="text" id="content" name="post" class="form-control "></textarea> 
							</div>
							<div class="col-sm-12" style="margin-top: 12px;">
								<span class="emoji" >表情</span>
								<span class="pic" >图片	</span>
								<span>
									<input type="file" name=""  class="select_Img" style="display: none" >
									<img class="preview" src="">
								</span>
								<div class="myEmoji" >
									<ul id="myTab" class="nav nav-tabs">
										<li class="active">
											<a href="#set" data-toggle="tab">
											   预设
											</a>
										</li>
										<li><a href="#hot" data-toggle="tab">热门</a></li>
									</ul>
									<div id="myTabContent" class="tab-content">
										<div class="tab-pane fade in active" id="set">
											<div class="emoji_1"></div>
										</div>
										<div class="tab-pane fade" id="hot">
										  <div class="emoji_2"></div>
										</div>
									</div>
								</div>
								<!-- <span> <input type="file" id="selectImg" value=""></input> </span> -->
								<button type="submit" id="send" class="btn btn-default pull-right disabled">发布</button>
							</div>
					  </div>
				</form> 
			</div>
			<% posts.forEach(function(post,index){ %>
			<div class="row item_msg">
				<div class="col-sm-12 col-xs-12 message" >
					<div class="row">
						<img src="/images/img/icon.png" class="col-sm-2 col-xs-2" style="border-radius: 50%">
						<div class="col-sm-10 col-xs-10">
							<div class="row">
								<div class="col-sm-10">
									<span style="font-weight: bold;"><%= post.user.name %></span>
								</div>
								<div class="col-sm-2">
									<ul style="list-style-type:none;width:10px;margin-right:5px;">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>
											</a>
											<ul class="dropdown-menu">
												<li><a href="/posts/post/delete/<%= post.postid %>">删除</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<small class="date" style="color:#999"><%= post.time %></small>
							<div class="msg_content">
								<p><%= post.post %></p>
								<img class="mypic" src="/images/img/bg_1.jpg" >
							</div>
						</div>
					</div>
					<hr>
					<div class="row" style="height:38px;">
						<ul id="menu">
							<li>
								<a href="">
									<span>
										<em class="glyphicon glyphicon-comment"></em>
										<em>3</em>
									</span>
								</a>
							</li>
							<li>
								<a href="">
									<span>
										<em class="glyphicon glyphicon-thumbs-up"></em>
										<em>5</em>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<%  }) %>
			<!--<div class="row item_msg" >
				<div class="col-sm-12 col-xs-12 message" >
					 <img src="/images/img/icon.png" class="col-sm-2 col-xs-2" style="border-radius: 50%">
					 <div class="col-sm-10 col-xs-10">
						<span style="font-weight: bold;">Jack.C</span>
						<br>
						<small class="date" style="color:#999">1分钟前</small>
						<div class="msg_content">happy day!
						 <img class="mypic" src="/images/img/bg_1.jpg" >
						 </div>
					 </div>
				</div>
			</div>-->
		</div>
		<div class="col-sm-3 col-xs-12 part_right" >
			<% if(user) {  %>
			<div class="row text-center inform">
				<a href="#" style="color:black;"><img src="/images/img/icon.png" >
				<h4 style="font-weight: bold;"><%= user.name %></h4></a>
				<div class="col-sm-12 my_inform" >
					<div class="col-sm-4 col-xs-4">
						<a href="#">
							<strong style="color:black;"><%= user.following.length %></strong>
							<div><span class="sort">关注</span></div>
						</a>
					</div>
					<div class="col-sm-4 col-xs-4">
						<a href="#">
							<strong style="color:black;"><%= user.followers.length %></strong>
							<div><span class="sort">粉丝</span></div>
						</a>
					</div>
					<div class="col-sm-4 col-xs-4">
						<a href="#">
							<strong style="color:black;"><%= posts.length %></strong>
							<div><span class="sort">微博</span></div>
						</a>
					</div>
				</div>
			</div> 
			<%  } %> 
			<div class="row part_hot" >
				<div class="col-sm-12">
					<span class="pull-left" style="padding: 10px;font-size:16px;font-weight: bold;">热门话题</span>
					<span class="pull-right" style="padding: 10px;">换话题</span>
				</div>
				<hr style="margin: 0;padding: 0;width: 100%">
				<div class="col-sm-12 item_hot" >
					<span class="pull-left">#英雄联盟s7#</span>
					<span class="pull-right item_num">34.6亿</span>
				</div>
				<div class="col-sm-12 item_hot" >
					<span class="pull-left">#今天霜降#</span>
					<span class="pull-right item_num">2.6亿</span>
				</div>
				<div class="col-sm-12 item_hot" >
					<span class="pull-left">#亚洲新歌榜#</span>
					<span class="pull-right item_num">10.4亿</span>
				</div>
				<div class="col-sm-12 item_hot" >
					<span class="pull-left">#扑通扑通少女心#</span>
					<span class="pull-right item_num">1.5亿</span>
				</div>
				<div class="col-sm-12 item_hot" >
					<span class="pull-left">#突然开心#</span>
					<span class="pull-right item_num">1.1亿</span>
				</div>
				<hr style="margin: 0;padding: 0;width: 100%">
				<div class="col-sm-12 text-center" style="padding: 10px"><a href="#">查看更多</a></div>
			</div>
		</div>
	</div>
</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">